<layout name="layout" />
<volist name="category_list" id="vo">
<div class="post">
		<p class="meta"><span class="date">【<!--{$vo.category_title}-->】</span> </p>
				<div class="category">
				<div class="category-list">
                    <volist name=":CategorySubList($vo['id'])" id="vos">
                        <div class="category-block">
                            <span class="category-image">
                                <a href="<!--{$vos.id|CategoryURL=###}-->" title="" target="_self" >
                                <neq name="vos.category_image" value="">
                                <img src="<!--{$vos.category_image}-->" border="0"/>		
                                <else/>
                                <img src="__BBSPUBLIC__/Resources/Image/IE.png" width="90" height="68" border="0"/>		
                                </neq>
                               </a>
                            </span>
                            <span class="category-item">
                                <p>『 <a href="<!--{$vos.id|CategoryURL=###}-->"><!--{$vos.category_title}--></a> 』</p> 
                                <p><em>主题:<!--{$vos.id|CategoryData=###,"topicNum"}--></em><em>帖数:<!--{$vos.id|CategoryData=###,"topicAndreplyNum"}--></em></p>
                                <p>
                                <a href="<!--{$vos.id|PageURL=###}-->" target="_blank" title="<!--{$vos.id|CategoryData=###,"title"}-->">
                                <!--{$vos.id|CategoryData=###,"title"|msubstr=###,0,16,"utf-8",false}--></a></p>
                            </span>
                        </div>
                    </volist>
                    
                    
                    
                </div>	
		</div>
</div>
</volist>


		
